.project-header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  background-image: url("theodeto.svg");
  background-size: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #efebea;
  margin-top: 30px;
}
.overview-main {
  display: flex;
  background-color: #C8E4E4;
  width: 100%;
  height: 300px;
  article {
      display: flex;
      max-width: 800px;
      margin: 0 auto;
      justify-content: space-between;
 }
  div {
      width: 40%;
 }
  ul {
      list-style: none;
      li:first-of-type {
          font-weight: bold;
     }
 }
}
.body-wrapper {
  background-color: rgb(255, 255, 255);
  background-image: url();
  .challenge {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
      background-color: white;
      article {
          width: 50%;
     }
      h2 {
          margin-bottom: -2px;
     }
      h4 {
          margin-bottom: -10px;
     }
      p {
          margin-bottom: -2px;
     }
      img {
          width: auto;
          height: 400px;
          object-fit: cover;
          padding-top: 20px;
          border: none;
     }
 }
  .two-img {
      display: flex;
      max-width: 800px;
      justify-content: center;
      div {
          width: 50%;
          img {
              height: 190px;
              object-fit: cover;
         }
     }
 }
  .two-img-row2 {
      display: flex;
      justify-content: center;
      max-width: 800px;
      div {
          width: 33%;
          margin: 15px;
          img {
              height: 500px;
              object-fit: cover;
         }
     }
 }
}
.scope-main {
  display: flex;
  background-color: pink;
  margin-top: 25px;
  article {
      display: flex;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
 }
  div {
      width: 40%;
 }
  ul {
      list-style: square;
 }
  ul:last-child {
      padding-top: 10px;
 }
}
@media only screen and (max-width: 1024px) {

  .overview-main {
    height: 100%;
      article {
        padding: 10px;
      }
  }

  .body-wrapper {
    .challenge {
      padding: 10px;
    }
  }

  .two-img, .two-img-row2 {
      flex-direction: column;
      div {
          width: 100%;
     }
 }
  .two-img {
      img {
          height: 160px;
     }
 }
}


