@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
html, body {
  margin: 0px;
  scroll-behavior: smooth;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>🛸</text></svg>") 16 0, auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.header h4 {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header h4 a {
  text-decoration: none;
  color: black;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
}

.main-nav ul a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  color: black;
  font-size: 24px;
  font-family: 'Tinos', serif;
}

.main-nav ul a:hover, .main-nav ul a:focus {
  color: #f879c9;
}

.projects-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.projects-main div {
  width: 40%;
  margin: 20px;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.5);
}

.projects-main div:hover, .projects-main div .overlay-text {
  opacity: 0.3;
  visibility: visible;
}

.projects-main div h4, .projects-main div p {
  margin-left: 4px;
}

.projects-main div p {
  margin-top: -14px;
}

.projects-main div a {
  text-decoration: none;
  color: black;
}

.projects-main div img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 2px 8px -2px gray;
          box-shadow: 0 2px 8px -2px gray;
}

.projects-main div .overlay-text {
  position: relative;
  left: 0px;
  color: black;
  font-size: 30px;
  text-align: center;
  visibility: hidden;
}

.line {
  margin: 3rem;
  border-top: 1px solid #8a8a8a;
}

.profile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.profile-links i {
  color: black;
  margin-top: 20px;
  font-size: 40px;
  padding: 10px;
}

.profile-links i:hover {
  color: #f879c9;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

@media only screen and (max-width: 1024px) {
  .header {
    margin: 4px;
  }
  .header h4 {
    font-size: 14px;
  }
  .projects-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-main div {
    width: 80%;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */